<div class="container">

<h1>Add an Afterthought!</h1>

<%= form_for @afterthought do |f| %>
  <%= f.hidden_field(:event_id,:value=>params[:event_id])%>
  <%= f.label "Actual Location: " %>
  <%= f.text_field :actual_location %><br>
  <%= f.label "Actual Start: " %>
  <%= f.datetime_select(:actual_start) %><br>
  <%= f.label "Actual End: " %>
  <%= f.datetime_select(:actual_end) %><br>
  <%= f.label "Actual Description: " %>
  <%= f.text_area :actual_description %><br>

  <%= f.label "Actual Attendees: " %>
  <%= collection_check_boxes(@test,:attendee_id,@event_attendees,:id,:name)%><br>

  <%= f.label "Thoughts: " %>
  <%= f.text_area :thoughts %><br>
  <%= f.label "Rating: " %>
  <%= f.number_field :rating, max:5 %><br>
  <%= f.submit "Add Afterthought!" %>
<% end %>
</div>