<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Afterthought Details for <%= @afterthought.event.title.capitalize %></h1>
        <new-heading><b>Event: </b><%=@afterthought.event.title%></new-heading>
        <new-heading><b>Actual Location: </b> <%=@afterthought.actual_location%></new-heading>
        <new-heading><b>Actual Start: </b> <%=@afterthought.actual_start.strftime("%A, %b %eth, %Y at %l:%M %P ")%></new-heading>
        <new-heading><b>Actual End: </b><%=@afterthought.actual_end.strftime("%A, %b %eth, %Y at %l:%M %P ")%></new-heading>
        <new-heading><b>Actual Description: </b><%=@afterthought.actual_description%></new-heading>
        <new-heading><b>Thoughts: </b><%=@afterthought.thoughts%></new-heading>
        <new-heading><b>Rating: </b><%=@afterthought.rating%></new-heading>
        <new-heading><b>Actual Attendees: </b></new-heading>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <%@afterthought.attendees.each do |attendee|%>
              <tr>
                <td><%=attendee.name%></td>
                <td><%=attendee.notes%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
          <%= link_to "Edit Afterthought", "/afterthoughts/#{@afterthought.id}/edit", class: "btn btn-lg btn-primary" %>
          <%= link_to "View Event Details", @afterthought.event, class: "btn btn-lg btn-primary" %>
          <%= link_to "View Event with Afterthought", "/events/#{@afterthought.event.id}/event_afterthought", class: "btn btn-lg btn-primary" %>
          <%= link_to "Add Attendee", "/afterthoughts/attendees/new/#{@afterthought.id}", class: "btn btn-lg btn-primary" %>
          <%= link_to "Delete Afterthought", @afterthought, method:"delete", class: "btn btn-lg btn-danger" %>
      </div>
    </div>
  </div>
</div>
