<div class="container">
<h1><%=@afterthought.event.title%></h1>
<%= flash[:message] %>
<h2>Afterthought Details</h2>
<ul>
  <li>Event: <%=@afterthought.event.title%></li>
  <li>Actual Location: <%=@afterthought.actual_location%></li>
  <li>Actual Start: <%=@afterthought.actual_start.strftime("%A, %b %eth, %Y at %l:%M %P ")%></li>
  <li>Actual End: <%=@afterthought.actual_end.strftime("%A, %b %eth, %Y at %l:%M %P ")%></li>
  <li>Actual Description: <%=@afterthought.actual_description%></li>
  <li>Thoughts: <%=@afterthought.thoughts%></li>
  <li>Rating: <%=@afterthought.rating%></li>
  <li>Actual Attendees:
  <%@afterthought.attendees.each do |attendee|%>
      <ul>Name: <%=attendee.name%><br>
        Notes: <%=attendee.notes%>
      </ul><br>
      <%end%>
    </li>
</ul>

<br>

<%= button_to "Update this Afterthought", "/afterthoughts/#{@afterthought.id}/edit", method: "get"%>

<%= button_to "Delete this Afterthought", @afterthought, method:"delete" %>

<%= button_to "View Event Details", @afterthought.event,method:"get"%>

<%= button_to "Add Attendee", "afterthoughts", method: "get" %>

</div>