<% provide(:title, @user.username) %>
<div class="container">
  <div class="user_name">
    <h1>Calendars</h1>
  </div>
  <% if !@user.calendars.empty? %>
    <div class="add_calendar">
      <a class="btn btn-primary" href="/calendars/new/<%= @user.id %>" role="button">Add New Calendar</a>
    </div>
    <% @calendars.each do |calendar| %>
      <div class= "full_calendar">
        <div class="calendar_name">
          <%= calendar.name.capitalize %>
        </div>
        <div id="calendar_collapsible" class="calendar_collapsible">
          <%= month_calendar events: calendar.events do |date,events| %>
            <div class="date_number">
              <h4><%= date.day %></h4>
            </div>
            <div class="link_to_add_event">
              <%= link_to "+", "/events/new/#{calendar.id}/#{date.year}/#{date.month}/#{date.day}" %>
            </div>
            <% events.each do |event| %>
              <% if event.calendar == calendar %>
                 <a id="button_to_event" class="btn btn-primary" data-method="get" href=<%="/events/#{event.id}"%>><%=event.title%></a>
              <% end %>
            <% end %>
          <% end %>
          <div class="delete_calendar">
            <a class="btn btn-primary" data-confirm="Are you sure?" data-method="delete" href="/calendars/<%= calendar.id %>" role="button">Delete <%= calendar.name %></a>

          </div>

        </div>

      </div>
    <% end %>
  <% else %>
    <div class="make_one">
      You don't have any calendars!
      <a class="btn btn-primary" href="/calendars/new/<%= @user.id %>" role="button">Make one!</a>
    </div>
  <% end %>
</div>
