<% provide(:title, @user.username) %>
<div class="container">
  <div class="user_name">
    <h1>Calendars</h1>
  </div>
  <% if !@user.calendars.empty? %>
    <% @calendars.each do |calendar| %>
      <div class= "full_calendar">
        <div id="block_container">
          <div id="bloc1" class="calendar_name"><%= calendar.name.capitalize %></div>
          <div id="bloc2">
            <a class="btn btn-primary" href="/calendars/<%= calendar.id %>/edit" role="button">Edit <%= calendar.name %></a>
          </div>
        </div>
        <div>

        <div id="calendar_collapsible" class="calendar_collapsible">
          <%= month_calendar events: calendar.events do |date,events| %>
          <div class="date-number-and-plus">


            <div class="date_number">
              <h4><%= date.day %></h4>
            </div>

          <%= link_to "+", "/events/new/#{calendar.id}/#{date.year}/#{date.month}/#{date.day}", class: "btn add-event-plus" %>

          </div>



            <% events.each do |event| %>
              <% if event.calendar == calendar %>
                 <a id="button_to_event" class="btn btn-primary" data-method="get" href=<%="/events/#{event.id}"%>><%=event.title%></a>
              <% end %>
            <% end %>
          <% end %>
          <div class="delete_calendar">
            <a class="btn btn-primary" data-confirm="Are you sure?" data-method="delete" href="/calendars/<%= calendar.id %>" role="button">Delete <%= calendar.name %></a>
          </div>
        </div>
      </div>
    <% end %>
    <div class="add_calendar">
      <a class="btn btn-primary" href="/calendars/new/<%= @user.id %>" role="button">Add New Calendar</a>
    </div>
  <% else %>
    <div class="make_one">
      You don't have any calendars!
      <a class="btn btn-primary" href="/calendars/new/<%= @user.id %>" role="button">Make one!</a>
    </div>
  <% end %>
</div>
