<h1><%=@user.username%></h1>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <%= link_to "Add Event", "events/new" %>

  <% events.each do |event| %>
    <div>
      <%= linkt_to event.title,  %>
    </div>
  <% end %>


<% end %>