<% @thing = @attendee %>

<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Add an Attendee to <%= @event.title %>'s Afterthought</h1><br>
        <%= bootstrap_form_for('/afterthoughts/attendees', layout: :horizontal) do |f| %>
          <%= f.text_field :name, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.text_field :notes, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= hidden_field_tag 'event_id', @event.id %>
          <%= f.submit "Add Attendee", class: "btn btn-lg btn-primary" %>
        <% end %>
        <%= link_to "View Afterthought Details", @afterthought, class: "btn btn-lg btn-primary", id: "view-afterthought-details" %>
      </div>
    </div>
  </div>
</div>
