<div class="container">

<h1>Add Attendee to <%= @event.title %></h1>

<%= form_for @attendee do |f| %>

  <%= f.label "Name: " %>
  <%= f.text_field :name %><br>
  <%= f.label "Notes: " %>
  <%= f.text_field :notes %><br>
  <%= f.submit "Add Attendee!" %>
<% end %>

  <%= button_to "View Event Details", @event, method: "get" %>
</div>
