<% @thing = @event %>

<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Edit Event</h1><br>

        <%= bootstrap_form_for(@event, layout: :horizontal) do |f| %>
          <%= f.text_field :title, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.text_field :location, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.text_field :organizer, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.text_area :description, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.datetime_local_field :start, label_col: "col-sm-2", control_col: "col-sm-10" %>
          <%= f.datetime_local_field :end, label_col: "col-sm-2", control_col: "col-sm-10" %>

          <%= f.hidden_field(:calendar_id,:value=>@event.calendar.id)%>

          <%= f.submit "Update Event", class: "btn btn-primary create" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
