<div class="container">
  <h1><%= @user.username %></h1><br>
  <%= flash[:message] %><br>
  <h3>Edit Event!</h3><br>
  <%= form_for @event do |f| %>
    <%= f.label "calendar" %>
    <%= f.collection_select(:calendar_id, @user_calendars, :id, :name) %><br>
    <%= f.label "title" %>
    <%= f.text_field :title %><br>
    <%= f.label "description" %>
    <%= f.text_area :description %><br>
    <%= f.label "Location" %>
    <%= f.text_field :location %><br>
    <%= f.label "start" %>
    <%= f.datetime_select(:start) %><br>
    <%= f.label "end" %>
    <%= f.datetime_select(:end) %><br>
    <%= f.label "visibility" %>
    <%= f.text_field :visibility %><br>
    <%= f.label "organizer" %>
    <%= f.text_field :organizer %><br>


    <%= f.submit "Update Event" %>

  <% end %>
</div>
