<!-- new events form -->
<div class="container">
  <h1><%= @user.username %></h1><br>
  <%= flash[:message] %><br>
  <h3>Add Event!</h3><br>
  <%= form_for @event do |f| %>
    <%= f.label "title" %>
    <%= f.text_field :title %>
    <%= f.label "description" %>
    <%= f.text_area :description %>
    <%= f.label "Location" %>
    <%= f.text_field :location %>
    <%= f.label "start" %>
    <%= f.datetime_select(:start, default: DateTime.new(params[:year].to_i,params[:month].to_i,params[:day].to_i)) %>
    <%= f.label "end" %>
    <%= f.datetime_select(:end, default: DateTime.new(params[:year].to_i,params[:month].to_i,params[:day].to_i)) %>
    <%= f.hidden_field(:calendar_id,:value=>params[:calendar_id])%>
    <%= f.label "visibility" %>
    <%= f.text_field :visibility %>
    <%= f.label "organizer" %>
    <%= f.text_field :organizer %>

    <%= f.label "attendees"%>
    <% @event.attendees.each do |attendee| %>
    <%= attendee.name %><br>
    <% end %>
    
    <%= f.nested_fields_for :attendees do |ff| %>
      <%= ff.remove_nested_fields_link %>
      <%= ff.label "Attendee Name" %>
      <%= ff.text_field :name %>
      <%= ff.text_field :notes %>
      <%= f.add_nested_fields_link :attendees %>
    <% end %>







    <%= f.submit "Create Event" %>
  <% end %>


</div>

