<h1><%= @user.username %></h1>

<%= form_for @event do |f| %>

  <%= f.label "title" %>
  <%= f.text_field :title %><br>
  <%= f.label "description" %>
  <%= f.text_area :description %><br>
  <%= f.label "Location" %>
  <%= f.text_field :location %><br>
  <%= f.label "start" %>
  <%= f.datetime_select(:start, :start_year=>params[:year],:start_month=>params[:month],:start_day=>params[:day]) %><br>
  <%= f.label "end" %>
  <%= f.datetime_select(:end) %><br>
  <%= f.hidden_field(:calendar_id,:value=>params[:calendar_id])%>
  <%= f.label "visibility" %>
  <%= f.text_field :visibility %><br>
  <%= f.label "organizer" %>
  <%= f.text_field :organizer %><br>


  <%= f.submit "Create Event" %>

<% end %>

