<h1><%=@event.title%></h1>

<%= flash[:message] %>
<h2>Event Details</h2>
<ul>
  <li>Calendar: <%= @event.calendar.name %></li>
  <li>Event: <%= @event.title %></li>
  <li>Visibility: <%= @event.visibility %></li>
  <li>Organizer: <%= @event.organizer %></li>
  <li>Description: <%= @event.description %></li>
  <li>Location: <%= @event.location %></li>
  <li>Start: <%= @event.start.strftime("%A, %b %eth, %Y at %l:%M %P ")%></li>
  <li>End: <%= @event.end.strftime("%A, %b %eth, %Y at %l:%M %P ") %></li>
  <li>Attendees:
  <%@event.attendees.each do |attendee|%>
      <ul><%=attendee.name%></ul>
      <%end%>
    </li>
</ul>

<br>

<%= button_to "Edit Event", "/events/#{@event.id}/edit", method:"get" %>

<%= button_to "Delete Event", @event, method:"delete" %>

<% if @event.afterthought == nil %>
  <%= button_to "Add Afterthought", "/afterthoughts/new/#{@event.id}", method: "get" %>
<% else %>
  <%= button_to "View Afterthought", "/afterthoughts/#{@event.afterthought.id}", method: "get" %>
<% end %>
