<div class="container">
  <h1>Editing <%= @calendar.name %></h1>

  <%= form_for @calendar do |f| %>
    <%= f.label "name" %>
    <%= f.text_field :name %><br>
    <%= f.hidden_field(:user_id, :value=>@user.id) %>
    <%= f.submit "Update Calendar" %>

  <% end %>
</div>
