<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container full-width">
      <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="alert alert-success">
        <% elsif type == "alert" %>
          <div class="alert alert-danger">
        <% else %>
          <div class='alert alert-<%= "#{type}" %>'>
        <% end %>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <ul>
          <li>
            <%= msg %>
          </li>
        </ul>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
